h1 {
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0; 
    background-color: rgb(61, 177, 185);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Catamaran', sans-serif;
    font-size: 74px;
    color: white;
    text-align: center;
}
footer {
    z-index: 3;
    width: 100%;
    background-color: rgb(61, 177, 185);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0; 
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-align: center;
}

#wrap {
    z-index: 1;
    margin-top: 120px;
    margin-bottom: 57px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(185, 253, 219);
}